<% layout('boilerplate/boilerplate')%>

<main>
    <div class="h1">
        <h1>Lastest Publications!</h1>
    </div>

    <div class="card">
            <% for (let content of contents.reverse()) {%>
                <div id="li">
                    <%for (let img of content.images) {%>
                        <img src="<%= img.url %>" width="250px" alt=""> 
                    <% } %>
                    <div id="card-bottom">
                            <h3 id="p1"><%= content.title %></h3>
                            <div class="card-botton">
                                <p>Likes: <%= content.likes.length%></p>
                                <p id="more"><a href="/content/<%= content._id %>">See more</a></p>
                            </div>
                        </div>
                </div>
            <% } %>
        </div>

</main>

<%- include('./layout/footer')%>

    
